/* Creates the background color for the page. */

body {
    background-color: beige;
}


/* Formats heading for the HTML page */

h1 {
    text-align: center;
    font-size: 50px;
    color: steelblue;
}


/* Formats the borders of the field boxes. */

form {
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}


/* Creates the format for the input/text that the user will enter into the form */

input {
    padding: 12px;
    font-size: inherit;
}


/* Creates the margin/border around the field boxes */

input[type="text"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}


/* Creates the margin/border for the "Subtitle" field box. */

input[type="Subtitle"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}


/* Creates the margin/border for the "Composer" field box. */

input[type="Composer"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}


/* Creates the margin/border for the "Lyricist" field box. */

input[type="Lyricist"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}


/* Creates the margin/border for the "Coopyright" field box. */

input[type="Copyright"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}


/* Creates the margin/border for the "Submit" button. */

input[type="Submit and get started!"] {
    width: 344px;
    height: 45px;
    border: none;
    background: steelblue;
    color: white;
}


/* Formats the "Submit" button. */

input[type="Submit and get started!"]:focus {
    width: 344px;
    height: 45px;
    border: solid steelblue;
    background: white;
    color: steelblue;
}


/* Formats the background color of the field boxes. */

input:focus {
    background-color: white;
}