<html>
    <head>
        {% if title %}
        <title>{{ title }} - cadenza</title>
        {% else %}
        <title>cadenza</title>
        {% endif %}
        <link href="{{url_for('static', filename = 'css/paper-kit.css')}}" rel="stylesheet"/>

    </head>
    <body>
    <!--  <script src="http://code.jquery.com/jquery.js"></script>
      <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>-->
        <div>
            cadenza:
            <a href="{{url_for('index')}}">home</a>
            <a href="{{url_for('login')}}">login</a>
            <a href="/login/signup">signup</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
