{% extends "base.html" %}

{% block content %}
    <!--  <link href="{{url_for('static', filename = 'css/paper-kit.css')}}">-->
      <h1><center>welcome to cadenza</center></h1>
      <h2><center><a href="{{url_for('login')}}">login</a></center></h2>
      <h2><center><a href="/login/signup">register</a></center></h2>
      <!--{% for post in posts %}
      <div><p>{{ post.author.username }} shared a score with you: <b> {{ post.body }}</b></p></div>
      {% endfor %}
<style> html {
  width: 100%;
  height: 100%;
  font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #679289;
  -webkit-font-smoothing: antialiased;    background: #D4F8F4;
} </style>-->

{% endblock %}
